<app-nav></app-nav>
<br><br>
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let pro of data">
          {{ pro.subCategoryNo }}</tr>
          
            <tr >
              {{ pro.subCategoryNo }}</tr>
           
           
          
    </tbody>
  </table>
  
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" style="color: rgb(252, 252, 252);" data-bs-toggle="dropdown" aria-expanded="false">
      EDIT
    </button>
    <ul class="dropdown-menu">
  
       <li><a class="dropdown-item" routerLink="/post">Add New Catagory</a></li>
       <li><a class="dropdown-item" routerLink="/put">Update Catagory</a></li>
      <li><a class="dropdown-item" routerLink="/delete">Delete Catagory</a></li>
    </ul>
  </div> -->
  <div>
    <div class="container text-center">
        <div class="row">
          <div *ngFor="let i of data" class="col">

            <div class="card cr" style="width: 18rem;">
                <div class="card-body">
                 <a href="" routerLink="/productGet"> <h6 class="card-title" >No : {{i.subCategoryNo}}</h6></a>
                  <h5 class="card-title">{{i.subCategoryName}}</h5>
          
                  <!-- <h6 class="card-subtitle"> &#8377; {{i.price}}</h6> -->

                  <p class="card-text">{{i.description}}</p>
                </div>
              </div>

          </div>
         
        </div>
      </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" style="color: rgb(252, 252, 252);" data-bs-toggle="dropdown" aria-expanded="false">
    EDIT
  </button>
  <ul class="dropdown-menu">

     <li><a class="dropdown-item" routerLink="/post">Add New Catagory</a></li>
     <li><a class="dropdown-item" routerLink="/put">Update Catagory</a></li>
    <li><a class="dropdown-item" routerLink="/subDelete">Delete Catagory</a></li>
  </ul>
</div>