
<nav class="navbar bg-dark co">
    <div class="container-fluid">
      <a class="navbar-brand " style="color: aliceblue;" routerLink="">Product Catelog Management</a>
    </div>
  </nav>
  <br><br>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" style="color: rgb(252, 252, 252);" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu">
 
       <li><a class="dropdown-item" routerLink="">Product Catagory </a></li>
       <li><a class="dropdown-item" routerLink="/sub">Product Sub-Catagory</a></li>
      <li><a class="dropdown-item" routerLink="/productGet">Product Brands</a></li>
    </ul>
  </div>
