<app-nav></app-nav>
<h4 style="font-style: italic;">Add New category</h4>
<br>
<div class="ii">
 <form (ngSubmit)="onSubmit()">
       <label for="categoryNo">categoryNo:</label>
       <input type="number" id="categoryNo" name="categoryNo" [(ngModel)]="user.categoryNo"><br><br>
    
       <label for="categoryName">categoryName:</label>
      <input type="text" id="categoryName" name="categoryName" [(ngModel)]="user.categoryName">
      <br><br>

       <button type="submit">Submit</button>
    </form>
   </div>
    <br><br>
<h4 style="font-style: italic;">Add New Sub-Category</h4>
<br>
<div class="ii">
   <form (ngSubmit)="oSubmit()">
    <label for="subCategoryNo">subCategoryNo:</label>
    <input type="number" id="subCategoryNo" name="subCategoryNo" [(ngModel)]="user1.subCategoryNo"><br><br>
 
    <label for="subCategoryName">subCategoryName:</label>
   <input type="text" id="subCategoryName" name="subCategoryName" [(ngModel)]="user1.subCategoryName"><br><br>
 
   <label for="categoryId">categoryId:</label>
   <input type="number" id="categoryId" name="categoryId" [(ngModel)]="user1.categoryId"><br><br>

   <label for="description">description:</label>
   <input type="text" id="description" name="description" [(ngModel)]="user1.description">
 <br><br>

    <button type="submit">Submit</button>
 </form><br><br></div>

<h4 style="font-style: italic;">Add New Product</h4><br>
<div class="ii">

 <form (ngSubmit)="Submit()">
    <label for="productNo">productNo:</label>
    <input type="number" id="productNo" name="productNo" [(ngModel)]="user2.productNo"><br><br>
 
    <label for="subCategoryId">subCategoryId:</label>
   <input type="number" id="subCategoryId" name="subCategoryId" [(ngModel)]="user2.subCategoryId"><br><br>
 
   <label for="brand">brand:</label>
   <input type="text" id="brand" name="brand" [(ngModel)]="user2.brand"><br><br>

   <label for="price">price:</label>
   <input type="number" id="price" name="price" [(ngModel)]="user2.price"><br><br>

   <label for="specification">specification:</label>
   <input type="text" id="specification" name="specification" [(ngModel)]="user2.specification">
 
   <br><br>

    <button type="submit">Submit</button>
 </form> 
</div>
<br><br>


